/**********************************************************************************************/
/******************************************** header ******************************************/
/**********************************************************************************************/
.nav__logo__arrow{
    float: left;
    margin-left: 6%;
    margin-top: 22px;
    font-weight: bold;
    font-size: 20px;
    color: black;
}
.nav__logo__img--margin{
    margin-right: 10%;
}
.nav__food__picture{
    max-width: 1400px;
    width: 100%;
    height: 270px;
    overflow: hidden;
}
.nav__food__picture__img{
    position: relative;
    top: 50px;
    right: 15px;
    width: 108%;
    height: auto;
}

/**********************************************************************************************/
/********************************************* main *******************************************/
/**********************************************************************************************/

/************************************* form meal chice ****************************************/
.form__meal{
    top: -50px;
    padding-left: 5.5%;
    padding-right: 5.5%;
    padding-top: 18px;
    margin-bottom: -50px;
    height: auto;
    background-color: rgb(240, 240, 240);
    border-radius: 38px 38px  0 0;
    z-index: 1;
}
.form__meal__heading{
    font-family: 'Shrikhand', cursive;
    font-size: 26.6px;
    margin-bottom: 37px;
}
.fa-heart--mealPosition{
    float: right;
    margin-top: -65px;
    margin-right: 5%;
}
fieldset{
    width: auto;
    height: auto;
    border: none;
}
.entree{
    margin-bottom: 8px;
}
.main{
    margin-bottom: 25px;
}
.form__field__subheading{
    display: inline-block;
    margin-left: -12px;
    font-weight: 300;
    font-size: 16px;
    color: black;
    border-bottom: solid 3px  #99E2D0;
    width: 40px;
    padding-bottom: 5px;
    margin-bottom: -10px;
}
.form__field__list{
    padding-left: 4%;
    padding-right: 1%;
}
.form__field__list li{
    width: auto;
    height: 70px;
    border-radius: 20px;
    background-color: white;
    padding-left: 10px;
    margin-left: -30px;
    margin-bottom: 12px;
    box-shadow: rgba(50, 50, 93, 0.1) 0px 6px 12px -2px, 
    rgba(200, 200, 200, 0.25) 0px 3px 7px -3px;
    overflow: hidden;
}
.form__field__check{
    float: right;
    margin-top: -82px;
    padding-top: 26px;
    text-align: center;
    width: 60px;
    height: 70px;
    border-radius: 0 20px 20px 0;
    background-color: #99E2D0;
}
.fa-circle-check{
    color: white;
    font-size: 20px;
    margin-left: -3px;
}
.form__field__info{
    width: auto;
    height: 70px;
    padding-left: 10px;
    margin-left: -10px;
    margin-right: auto;
    padding-top: 14px;
    padding-right: 25px;
}
.form__field__info__name,
.form__field__info__additional{
    white-space: nowrap;
    overflow: hidden;
    max-width: 260px;
    width: 100%;
    text-overflow: ellipsis;
}
.form__field__info__name{
    display: inline;
}
.form__field__info__additional{
    margin-top: 6px;
}
.form__field__info__price{
    margin-top: -32px;
    float: right;
    font-weight: bold;
}
.form__field__container{
    text-align: center;
    margin-top: 22px;
}
.form__field__button{
    margin-bottom: 59px;
    margin-left: -21px;
    width: 185px;
    border: none;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: .5px;
    color: white;
}
