a, a:hover{
    text-decoration: none;
}
ul{
    list-style: none;
}
.nav__location h5{
    font-weight: bold;
    font-size: 15.6px;
    color: rgb(100, 100, 100);
}
.nav__menu h2{
    font-weight: 700;
    font-size: 24.2px;
}
.nav__menu__subheading{
    font-weight: 300;
    font-size: 17.9px;
    letter-spacing: .05px;
    color: rgb(100, 100, 100);
}
h3{
    font-size: 23.8px;
    font-size: 18px;
    color: black;
}
h4{
    font-weight: 300;
    font-size: 17px;
    color: black;
}