/**********************************************************************************************/
/******************************************* spinner ******************************************/
/**********************************************************************************************/
.fram--apparition{
    animation-duration: 10s;
    animation-name: apparition;
}
@keyframes apparition{
	0%{
        opacity: 0; 
    }
    95%{
        opacity: 0; 
    }
    100%{ 
        opacity: 1; 
    }
}
.spinner{
    display: inline-block;
    position: absolute; 
    text-align: center;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
    margin: 0 auto;
    font-size: 16vw;
    font-family: 'Shrikhand', cursive;
    color: transparent;
    background: linear-gradient(#FF79DA, #9356DC);
    background-clip:text;
    background-repeat: no-repeat;
    -webkit-background-clip:text;
    background-position-y: top 16vw;
    animation-name: filling;
    animation-duration: 3s;
    animation-iteration-count: 3;
}
@keyframes filling{
	0%{
        background-position-y: top 20vw; 
    }
    100%{ 
        background-position-y: top 0; 
    }
}

/**********************************************************************************************/
/******************************************** header ******************************************/
/**********************************************************************************************/
.nav__logo{
    text-align: center;
    height: auto;
    padding-bottom: 9px;
    background-color: white;
}
.nav__logo__img{
    margin-top: 22px;
    width: 165px;
    height: auto;
}
.nav__location{
    margin-top: -26px;
    text-align: center;
    height: 50px;
    background-color: rgb(234, 234, 234);
    box-shadow: inset 0 2px 5px 0 rgba(200, 200, 200, .8);
} 
.nav__location__city{
    position: relative;
    top: 17px;
    margin-left: -29px;
}
.nav__menu{
    text-align: center;
    display: inline-block;
    width: 100%;
    height: auto;
    background-color: rgb(240, 240, 240);
}
.nav__menu__heading--margin{
    margin-top: 37.5px;
    margin-left: 11%;
    margin-right: 15%;
}
.nav__menu__subheading--margin{
    margin-top: -5.5px;
    margin-left: 7.3%;
    margin-right: 5%;
}
.btn{
    background: linear-gradient(#FF79DA, #9356DC);
    box-shadow: rgba(50, 50, 93, 0.4) 0px 8px 8px -2px, 
    rgba(0, 0, 0, 0.4) 0px 3px 5px -6px;
    cursor: pointer;
    transition: all 1s;
    -webkit-transition: all 1s; 
}
.btn:hover{
    filter: brightness(110%);
    box-shadow: rgba(50, 50, 93, 0.6) 0px 8px 8px -2px, 
    rgba(0, 0, 0, 0.4) 0px 3px 5px -6px;
    transition: all 1s;
    -webkit-transition: all 1s; 
}
.nav__menu__btn{
    display: inline-block;
    height: 50px;
    width: 219px;
    padding-top: 15px;
    margin-top: 13px;
    margin-left: 6px;
    margin-bottom: 56px;
    border-radius: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: .5px;
    color: white;
}

/**********************************************************************************************/
/********************************************* main *******************************************/
/**********************************************************************************************/

/*************************************** functioning ******************************************/
.functioning{
    background-color: white;
    padding-left: 5.5%;
    padding-right: 5.5%;
    padding-top: 56px;
    padding-bottom: 40px;
}
.functioning__heading{
    margin-top: -6px;
    margin-bottom: 30px;
}
.functioning__list li{
    width: auto;
    height: 72px;
    border-radius: 20px;
    background-color: rgb(240, 240, 240);
    margin-bottom: 25.7px;
    margin-left: -30px;
    box-shadow: rgba(50, 50, 93, 0.1) 0px 6px 12px -2px, 
    rgba(200, 200, 200, 0.25) 0px 3px 7px -3px;
    transition: all .5s;
    -webkit-transition: all .5s;  
}
.functioning__list li:hover 
.functioning__list__icon{
    color: #9356DC;
    transition: color .5s;
    -webkit-transition: color .5s;  
}
.number{
    display: inline-block;
    text-align: center;
    margin-top: 25.6px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding-top: 5px;
    margin-left: -12px;
    background-color: #9356DC;
    color: white;
    font-size: 14px;
    cursor: default;
}
.functioning__list li i{
    margin-top: 2px;
    margin-left: 18px;
    font-size: 20px;
    color: rgb(100, 100, 100);
    transition: color .5s;
    -webkit-transition: color .5s;
}
.functioning__list__heading{
    cursor: default;
}
.headingOne{
    margin-left: 22px;
}
.headingTwo{
    margin-left: 17px;
}
.headingThree{
    margin-left: 14px;
}

/******************* functioning__list "hover-fx" *******************/
.functioning__list li:hover {
    background-color: rgb(241, 230, 255);
    box-shadow: rgba(50, 50, 93, 0.2) 0px 6px 12px -2px, 
    rgba(50, 50, 50, 0.4) 0px 3px 7px -3px;
    transition: all .5s;
    -webkit-transition: all .5s; 
}

/*************************************** restaurant *******************************************/
.restaurant{
    padding-left: 5.5%;
    padding-right: 5.5%;
    padding-top: 34px;
    padding-bottom: 47px;
    height: auto;
    background-color: rgb(240, 240, 240);
}
.restaurant__heading{
    padding-bottom: 2px;
}
.restaurant__choice{
    display: inline-block;
    margin-bottom: 18px;
    width: 100%;
    height: 251px;
    border-radius: 15px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, 
    rgba(100, 100, 100, 0.1) 0px 8px 16px -8px;
}
.new{
    position: absolute;
    display: inline-block;
    padding-left: 12px;
    padding-top: 6px;
    letter-spacing: .3px;
    margin-top: 14px;
    right: 10px;
    margin-right: 5.5%;
    border-radius: 2px;
    width: 80px;
    height: 30px;
    background-color: #99E2D0;
    color: rgb(0, 135, 102);
    font-size: 13.4px;
    font-weight: 500;
}
.restaurant__choice__imgBox{
    width: auto;
    height: 175px;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
}
.restaurant__choice__imgBox__img{
    min-width: 340px;
    width: 100%;
    height: auto;
}
.img-a-la-francaise,
.img-la-palette-du-gout{
    margin-top: -50px;
}
.img-la-note-enchantee{
    margin-top: -155px;
}
.img-le-delice-des-sens{
    margin-top: -60px;
}
.fa-heart--restaurantPosition{
    float: right;
    margin-right: 25px;
    margin-top: 20px;
}
.fa-heart{
    font-size: 20px;
    width: 20px;
    height: 20px;
    -ms-transform: scale(1, 1.15); 
    -webkit-transform: scale(1, 1.15); 
    transform: scale(1, 1.15); 
    -webkit-text-stroke: 1px black;
    background: linear-gradient(#FF79DA, #9356DC);
    background-clip:text;
    background-repeat: no-repeat;
    -webkit-background-clip:text;
    background-position-y: 20px;
    color: transparent;
}

/********************** heart fx **********************/
.fa-heart:hover{
    transition: -webkit-text-stroke, background-position-y 1.5s;
    -webkit-text-stroke: 0;
    background-position-y: 0px;
}
.restaurant__choice__name {
    margin-top: 14px;
    margin-left: 13px;
}
.restaurant__choice__info{
    margin-top: -13px;
    margin-left: 13px;
}

/**********************************************************************************************/
/******************************************** footer ******************************************/
/**********************************************************************************************/
.footer__wrap{
    top: 0;
    padding-left: 7%;
    padding-top: 24px;
    padding-bottom: 22px;
    height: auto;
    background-color: rgb(53, 53, 53);
}
.footer__wrap__menu li a{
    color: white;
    font-weight: 400;
}
.footer__wrap__menu li i{
    color: white;
    float: left;
}
.footer__wrap__menu__iconUtensils{
    font-size: 13px;
    margin-left: -23px;
    margin-top: 3px;
}
.footer__wrap__menu__one{
    margin-top: 20px;
    margin-bottom: 8px;
    margin-left: -18px;
}
.footer__wrap__menu__iconHands{
    font-size: 12px;
    margin-left: -24px;
    margin-top: 3px;
}
.footer__wrap__menu__two{
   margin-left: -18px;
   margin-bottom: 7px;
}
.footer__wrap__menu__three{
    margin-left: -40px;
    margin-bottom: 9px;
}
.footer__wrap__menu__four{
    margin-left: -40px;
}




    